<a href="https://colab.research.google.com/github/misakoko80730/Reporting-log/blob/main/20240408.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1+1)

2

In [ ]:
age = 18 # 年齢

if age < 20:
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    # 成年の場合
    print("お酒で乾杯！")

ジュースで乾杯！

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
#f"文字列{変数名1}文字列{変数名2}文字列{変数名3}......"
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素である「侍一郎」という文字列だけを取り出して表示する
print(user_names[0])

侍太郎

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 6番目の要素を追加する
user_names.append("侍五郎")
print(user_names)

# 3番目の要素を削除する
user_names.pop(2) # 0始まりのため、3番目のインデックスは2
print(user_names)

['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) # 3番目の要素を削除（0始まりのため2を指定）
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス" )

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
# 1～10までに含まれる素数のセット（2と5が重複）
prime_numbers = {2, 5, 2, 7, 3, 5, 5 }

# セット全体を表示
print(prime_numbers)

{2, 3, 5, 7}

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

country_names.add("ドイツ") # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # セットから「イギリス」を削除
print(country_names)

{'アメリカ', 'イギリス', '日本', 'フランス'}
{'イギリス', 'ドイツ', '日本', 'アメリカ', 'フランス'}
{'ドイツ', '日本', 'アメリカ', 'フランス'}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])

120

In [ ]:
# キー「2」が重複している
sports = {1: "サッカー", 2: "野球", 2: "バドミントン", 3: "バスケット"}
print(sports[2])

バドミントン

In [ ]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}

# キー「2」の値を「バドミントン」に書き換える
sports[2] = "バドミントン"

# キー「4」として「水泳」を追加する
sports[4] = "水泳"

# 連想配列全体を取り出して表示
print(sports)

In [ ]:
length_height={"上辺":10,"下辺":20,"高さ":5}

#公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2
print(str((length_height["上辺"] + length_height["下辺"]) * length_height["高さ"] / 2) + "cm²")

75.0cm²

In [ ]:
for ループ変数 in 反復可能オブジェクト:
    ブロック（繰り返し行いたい処理）

In [ ]:
range(終了数)
range(開始数, 終了数)
range(開始数, 終了数, ステップ)

In [ ]:
for i in range(1, 11):
    print(i)

In [ ]:
#ランダムな整数を利用するため、記述が必要です。
import random

for i in range(1, 11):
    #変数numに1~20までのランダムな整数を代入する
    num = random.randint(1,20)

    print(f"{i}回目の結果は{num}です。")

    #変数numの値が20であれば、break文で繰り返し処理を強制終了する
    if num == 20:
        print("20が出たので繰り返し処理を強制終了します。")
        break

In [ ]:
while 条件式:
    条件を満たしている間、繰り返す処理
#ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの最初の値を出力する（確認用）
print(f"最初の値は{num}です。")

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num != 0:
    # 変数numに0~4までのランダムな整数を代入する
    num = random.randint(0, 4)

    # 次の条件式で比較される、変数numの現在の値を出力する
    print(f"現在の値は{num}です。")

In [ ]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num != 0:
    num = random.randint(0, 4)
    print(num)

4
1
3
4
1
2
0

条件式がFALSEを返す可能性はあるか

In [ ]:
import random
num = random.randint(0,6)

while num == 5:
    num = random.randint(0,6)
    print(num)

In [ ]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0, 4)

# カウンタ変数を用意する
i = 1

# 変数numの最初の値を出力する（確認用）
print(f"最初の値は{num}です。")

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num != 0:
    # 変数numに0~4までのランダムな整数を代入する
    num = random.randint(0, 4)

    # カウンタ変数iの値が5であれば、break文で繰り返し処理を強制終了する
    if i == 5:
        print("5回目なので繰り返し処理を強制終了します。")
        break

    # 次の条件式で比較される、変数numの現在の値を出力する
    print(f"現在の値は{num}です。")
    #　カウンタ変数のの値を1増やす
    i = i + 1

最初の値は4です。
現在の値は1です。
現在の値は4です。
現在の値は3です。
現在の値は4です。
5回目なので繰り返し処理を強制終了します。

In [ ]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 合計用の変数を用意する
sum = 0

# 変数sumの値が20以上になるまで繰り返し処理を行う
while sum < 20:
    # 変数numに1~10までのランダムな整数を代入する
    num = random.randint(1, 10)

    print(f"{num}が出ました。")

    # 変数numの値が偶数（2で割った余りが0）であれば、加算せずにcontinue文で次のループに進む
    if num % 2 == 0:
        print("偶数なので加算しません。")
        continue

    # 変数sumに変数numの値を加算する
    sum = sum + num
    print(f"現在の合計は{sum}です。")

10が出ました。
偶数なので加算しません。
3が出ました。
現在の合計は3です。
7が出ました。
現在の合計は10です。
3が出ました。
現在の合計は13です。
6が出ました。
偶数なので加算しません。
5が出ました。
現在の合計は18です。
1が出ました。
現在の合計は19です。
7が出ました。
現在の合計は26です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesの要素を1つずつ順番に出力する
for user_name in user_names:
    print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

for key, value in personal_data.items():
    print(f"{key}は{value}です。")

nameは侍太郎です。
ageは36です。
genderは男性です。

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

for a, b in personal_data.items():
    print(f"{a}は{b}です。")

nameは侍太郎です。
ageは36です。
genderは男性です。

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# 連想配列personal_dataのキーと値を1つずつ順番に出力する
for key, value in personal_data.items():
    print(f"{key}は{value}です。")

# 連想配列personal_dataの値を1つずつ順番に出力する
for value in personal_data.values():
    print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [ ]:
#.items()：辞書からキーと値をセットで取り出す関数
#キーを取り出さずに値だけを取り出したいときは、以下のようにkeyを省略し、values関数を利用することで実現できます。
#enumerate関数を利用することで値だけでなくインデックスを取り出すことができます。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesのインデックスと値を1つずつ順番に出力する
for index, value in enumerate(user_names):
    print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 検索したいユーザー名を代入する変数
target = "侍二郎"

for user_name in user_names:
    print(user_name)

    # 変数user_nameと変数targetの値が一致すれば、break文で繰り返し処理を強制終了する
    if (user_name == target):
        print(f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
        break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [ ]:
score = {
    "国語": 80,
    "数学": 55,
    "理科": 70,
    "社会": 85,
    "英語": 60
}

print("合格した科目は以下のとおりです。")

for key, value in score.items():
    # 変数valueの値（点数）が70より小さければ、キー（科目名）と値（点数）を出力せずにcontinue文で次のループに進む
    if (value < 70):
        continue
    print(f"{key} : {value}点")

合格した科目は以下のとおりです。
国語 : 80点
理科 : 70点
社会 : 85点

In [ ]:
arrays = ["水","金","地","火","木","土","天","海","冥"]
i=1
for value in arrays:
    print(value)

    if(i==18):
       break

    i=i+1

水
金
地
火
木
土
天
海
冥

In [ ]:
arrays = ["水","金","地","火","木","土","天","海","冥"]
for value in range(2):
  #range(2)は個数として繰り返しの指示になっていた。
  for value in arrays:
    print(value)

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [1]:
arrays = ["水","金","地","火","木","土","天","海","冥"]

i=1
while i != 19:
  for value in arrays:
    if(i==19):
      break
    print(value)
    i = i + 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [7]:
arrays = ["水","金","地","火","木","土","天","海","冥"]

i=1
while i != 28:
  for value in arrays:
    print(value)
    i = i + 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [2]:
arrays = ["水","金","地","火","木","土","天","海","冥"]

for i in arrays:
  print(i)

i=0
while i<=8:
  print(arrays[i])
  i=i+1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海

In [ ]:

# 関数の作り方
def 関数名():
    一連の処理

# 関数の呼び出し方
関数名()

In [26]:
# 与えられた引数$priceに送料を加算し、その値を出力する関数を定義する
def calculate_total(price):
    # 与えられた引数priceに送料を加算し、変数totalに代入する
    total = price + 500

    # 変数totalの値を出力する
    print(f"{total}円")

# 関数を呼び出し、引数として購入金額を渡す
calculate_total(1200)

1700円

In [ ]:
def add_two_arguments(price, shipping_fee):
    # 与えられた引数priceと引数shipping_feeを加算し、変数totalに代入する
    total = price + shipping_fee

    # 変数$totalの値を出力する
    print(f"{total}円")

# 関数を呼び出し、引数として購入金額と送料を渡す
add_two_arguments(1200, 500)

1700円

In [ ]:
def x_y_z_w(a,b,c):
    sum=a+b+c
    print(sum)

x_y_z_w(1000,100,10)

1110

In [ ]:
# 商品が購入されたかどうかチェックする関数
# 購入済みかどうかを判定する変数
purchased = True

# 戻り値を返す関数を定義する
def is_purchased():
    if (purchased):
        return True
    else:
        return False

# 戻り値を返す関数を条件式に使う（Trueであれば処理が実行される）
if (is_purchased()):
    print("商品は購入済みです。")

商品は購入済みです。

In [ ]:
def double(num: int):
    return num * 2

double(10)

20

商品を購入して、消費税を加えた計算結果を返す関数を記述してください。
第1引数に商品の金額、第2引数に消費税（10%）を設定できるようにしてください。
番号	合格基準
1	「課題の内容」の仕様通りの関数が定義されている
2	定義した関数を呼び出し、使用されている

In [ ]:
def calculate_totalprice(product)
  totalprice=product+product*0.1
  print(f"{totalprice}円です")

calculate_totalprice(1000)

1100.0円です

計算結果を返す関数
⇨戻り値を使用して実装してください

第1引数に商品の金額、第2引数に消費税（10%）を設定
⇨引数に消費税を指定してください

In [9]:
def calculate_totalprice(product,tax):
  return product+product*tax


print(calculate_totalprice(1000,0.1))

1100.0

In [1]:
def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    print(user_name)

show_user_name()

侍太郎

In [2]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    print(user_name)

show_user_name()

# グローバルスコープの範囲内でグローバル変数を使う
print(user_name)

侍太郎
侍花子

以下のコードを実行するとスコープに関するエラーが発生します。エラーを修正して、正しく計算結果が出力されるようにしてください。

番号	合格基準
1	グローバルスコープとローカルスコープを意識したプログラムが記述されている

In [3]:
price1 = 100
price2 = 200

def total():
    tax = 1.1
    return price1 + price2

print (total() * tax)

NameError: name 'tax' is not defined

In [ ]:
price1 = 100
price2 = 200
tax = 1.1

def total():
    return price1 + price2

print (total() * tax)

330.0

In [ ]:
# クラスを定義する
class Product:
    クラスの特徴

# インスタンス化する
shampoo = Product()

In [11]:
class Product:
    def __init__(self):
        # 属性を定義する
        self.name = ""

shampoo = Product()

# 属性にアクセスし、値を代入する
shampoo.name = "シャンプー"

# 属性にアクセスし、値を出力する
print(shampoo.name)

シャンプー

In [2]:
class Product:
    def __init__(self):
        self.name = ""

    # メソッドを定義する
    def set_name(self, name):
        self.name = name

shampoo = Product()

# メソッドにアクセスして実行する
shampoo.set_name("シャンプー")

In [9]:
class Product:
    def __init__(self):
        self.name = ""

    # メソッドを定義する
    def set_name(self, name):
        self.name = name

    def show_name(self):
        print(self.name)

# インスタンス化する
coffee = Product()

# メソッドにアクセスして実行する
coffee.set_name("コーヒー")
coffee.show_name()

コーヒー

In [24]:
class Product:
    def __init__(self):
        self.name = ""

    # メソッドを定義する
    def set_info(self, age):
        self.age = age
        print(self.age)


# インスタンス化する
coffee = Product()

#属性にアクセスする
coffee.name="小岩井のコーヒー"
print(coffee.name)

# メソッドにアクセスして実行する
coffee.set_info("販売してから45年")

小岩井のコーヒー
販売してから45年

In [21]:
class Product:
    def __init__(drink):
        drink.name = ""

    # メソッドを定義する
    def set_name(drink, name):
        drink.name = name

    def show_name(drink):
        print(drink.name)

# インスタンス化する
coffee = Product()

#属性にアクセスする
coffee.name="カフェ"
print(coffee.name)

# メソッドにアクセスして実行する
coffee.set_name("コーヒー")
coffee.show_name()

カフェ
コーヒー

In [10]:
class User:
    # コンストラクタを定義する
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

# インスタンス化する
user = User("侍太郎", 36, "男性")

# 属性にアクセスし、値を出力する
print(user.name)
print(user.age)
print(user.gender)

IndentationError: expected an indented block after function definition on line 3 (<ipython-input-10-f2949f6a4852>, line 7)

In [ ]:
# クラスの定義（例：class Product: ...... ）
class クラス名:
    # コンストラクタの定義
    def __init__(self):
        初期化の内容

    # メソッドの定義（例：public show_name(): ...... ）
    def メソッド名():
        一連の処理

# インスタンス化（例：shampoo = Product()）
インスタンス名 = クラス名()

# 属性へのアクセス（例：shampoo.name）
インスタンス名.属性名

# メソッドへのアクセス（例：shampoo.show_name()）
インスタンス名.メソッド名()

名前(name)と年齢(age)の属性を持つHumanクラスを作成してください。
nameとageを標準出力(print)するメソッド(printinfo)を追加してください。

Humanクラスのインスタンスは、変数に代入してプログラム内で使用してください。

番号	合格基準
1	「課題の内容」の仕様通りのクラスが定義されている
2	Humanクラスのインスタンスが変数に代入されている
3	定義したクラスに属するメソッド(printinfo)を使用し、名前(name)と年齢(age)が出力されている

In [12]:
class Human:
  # コンストラクタの定義
  def __init__(who,name,age):
    who.name=name
    who.age=age


#インスタント化
samurai=Human("小次郎",49)

print(samurai.name)
print(samurai.age)

小次郎
49

In [26]:
class Human:
  def __int__(who):
    who.name=""
    who.age=""

  def printinfo(who,name,age):
    who.name=name
    who.age=age
    print(who,name.age)

samurai=Human()

samurai.name="小次郎"
samurai.age=49

samurai.printinfo

In [27]:
class Human:
  def __int__(who):
    who.name=""
    who.age=""

  def printinfo(who,name):
    who.name=name
    print(who.name)
  def printinfo(who,age):
    who.age=age
    print(who.age)

samurai=Human()

samurai.printinfo("小次郎")
samurai.printinfo(49)

小次郎
49

In [47]:
class Human:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    # メソッドを定義する

    def printinfo(self):
        print(self.name,self.age)

# インスタンス化する
samurai = Human("小次郎",49)

# メソッドにアクセスして実行する
samurai.printinfo()

小次郎 49