<a href="https://colab.research.google.com/github/misakoko80730/Reporting-log/blob/main/20240330.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1+1)

2

In [ ]:
age = 18 # 年齢

if age < 20:
    # 未成年の場合
    print("ジュースで乾杯！")
else:
    # 成年の場合
    print("お酒で乾杯！")

ジュースで乾杯！

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
#f"文字列{変数名1}文字列{変数名2}文字列{変数名3}......"
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素である「侍一郎」という文字列だけを取り出して表示する
print(user_names[0])

侍太郎

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 6番目の要素を追加する
user_names.append("侍五郎")
print(user_names)

# 3番目の要素を削除する
user_names.pop(2) # 0始まりのため、3番目のインデックスは2
print(user_names)

['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) # 3番目の要素を削除（0始まりのため2を指定）
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス" )

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
# 1～10までに含まれる素数のセット（2と5が重複）
prime_numbers = {2, 5, 2, 7, 3, 5, 5 }

# セット全体を表示
print(prime_numbers)

{2, 3, 5, 7}

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

country_names.add("ドイツ") # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # セットから「イギリス」を削除
print(country_names)

{'アメリカ', 'イギリス', '日本', 'フランス'}
{'イギリス', 'ドイツ', '日本', 'アメリカ', 'フランス'}
{'ドイツ', '日本', 'アメリカ', 'フランス'}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])

120

In [ ]:
# キー「2」が重複している
sports = {1: "サッカー", 2: "野球", 2: "バドミントン", 3: "バスケット"}
print(sports[2])

バドミントン

In [2]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}

# キー「2」の値を「バドミントン」に書き換える
sports[2] = "バドミントン"

# キー「4」として「水泳」を追加する
sports[4] = "水泳"

# 連想配列全体を取り出して表示
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [1]:
length_height={"上辺":10,"下辺":20,"高さ":5}

#公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2
print(str((length_height["上辺"] + length_height["下辺"]) * length_height["高さ"] / 2) + "cm²")

75.0cm²

In [4]:
array=["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]
print(array)

dictionary = {"mon":"晴れ","tue":"雨","wed":"晴れ","thu":"晴れ","fri":"曇り","sat":"曇りのち雨","sun":"雷雨"}
print(dictionary)

['月曜日は晴れです', '火曜日は雨です', '水曜日は晴れです', '木曜日は晴れです', '金曜日は曇りです', '土曜日は曇りのち雨です', '日曜日は雷雨です']
{'mon': '晴れ', 'tue': '雨', 'wed': '晴れ', 'thu': '晴れ', 'fri': '曇り', 'sat': '曇りのち雨', 'sun': '雷雨'}

In [5]:
array=["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]
print(array[2])

dictionary = {"mon":"晴れ","tue":"雨","wed":"晴れ","thu":"晴れ","fri":"曇り","sat":"曇りのち雨","sun":"雷雨"}
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [11]:
import random
num = random.randint(0,4)
print(num)

if(num==4):
    print("大当たりです")
elif(num==3):
    print("当たりです")
else:
    print("外れです")

4
大当たりです

In [12]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1<num and num<3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num==1 or num==3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

2
変数numは1より大きく、3より小さいです
or条件が成り立ちませんでした

In [15]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1<num<3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num==1 and num==3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

2
変数numは1より大きく、3より小さいです
or条件が成り立ちませんでした

if文を用いて、以下の条件分岐をするコードを記述してください。値はprint関数で出力してください。

・変数varが、3の倍数の場合は「Fizz」を出力
・変数varが、5の倍数の場合は「Buzz」を出力
・変数varが、3の倍数と5の倍数の両方に該当する場合は「FizzBuzz」を出力
・上記のどの場合にも該当しない場合は、変数varの値を出力

ただし、変数varは正の整数とします。
番号	合格基準
1	条件判定対象の数値が変数varに代入されている
2	if文で想定通りの条件に分岐した結果を出力されている

In [49]:
import random
var = random.randint(1,100)
print(var)

if(var % 3 == 0 and var % 5 == 0):
  print("FizzBuzz")
elif(var % 3 == 0):
  print("Fizz")
elif(var % 5 == 0):
  print("Buzz")

else:
  print(var)

31
31